html {
  box-sizing : border-box ;
 }

* ,
* :: before ,
* :: after {
  box-sizing : inherit ;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  background-color: #9cc3d5;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#wrapper {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 2rem;
  border-radius: 2rem;
  margin: 0 auto;
}

nav {
  background-color: rgb(60, 92, 165);
  text-align: center;
  padding: 1rem 0;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 8px;
}

nav a {
  padding: 12px 16px;
  display: inline-block;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: 0.3s ease;
}

nav a:hover,
nav a:active {
  background-color: rgb(37, 231, 19);
  color: rgb(60, 92, 165);
  text-decoration: underline;
}

.invite {
  margin-bottom: 2rem;
}

form {
  padding-left: 3rem;
}

label,
span {
  border: black 1px;
  display: inline-block;
  width: 250px;
  margin-right: 20px;
  text-align: right;
}

.radio label {
  width: 12px;
}

span {
  margin: 20px 0;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=number],
input[type=file],
input[type=checkbox],
input[type=password] {
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
}
textarea {
  border-radius: 8px;
}

input[type=checkbox],
input[type=radio] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

button {
  background-color: white;
  color: rgb(41, 116, 202);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}

button[type=submit] {
  margin-top: 2rem;
}

a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: white;
  background-color: blue;
}

a:active {
  color: rgb(133, 80, 80);
}

