html {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
  --main-font: Arial, Helvetica, sans-serif;
  --heading-font: 'Momo TRust Display', sans-serif;
  --text-color: #ffffff;
}
body {
  font-family: var(--main-font);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}
body {
  font-family: var(--main-font);
  color: var(--text-color);
}
/* NAV BAR */
nav {
    background-color: rgb(60, 92, 165);
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    padding: 30px;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav a:hover,
nav a:active {
    background-color: rgb(99, 99, 99);
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.div1 span {
    font-size: 3rem;   
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.div1 p {
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}


/* BACKGROUND */
body {
    background-color: #9cc3d5;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

/* IMAGE GRID */
main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* FOOTER */
footer {
    margin-top: 85px;
    display: flex;
    justify-content: center;
}
