html {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

nav {
    background-color: rgb(60, 92, 165);
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    padding: 30px;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav a:link,
nav a:visited {
    text-decoration: none;
}
body {
  background-color: #9cc3d5; /* fallback color */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
nav a:hover,
nav a:active {
background-color: rgb(37, 231, 19);
color: rgb(60, 92, 165)
text-decoration: underline;
}

img {
    width: 20%;
    height: 50%;
    object-fit: cover;
}

.parent {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 15px;
grid-row-gap: 15px;
}

footer {
    margin-top: 85px;
    display: flex;
    justify-content: center;
}
