/*
.momo-trust-display-regular {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

html {
  box-sizing : border-box ;
    font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.20rem;
  line-height: 125%; 
  color: #ffffff;
 }

* ,
* :: before ,
* :: after {
  box-sizing : inherit ;
}
:root {
  --main-font: Arial, Helvetica, sans-serif;
  --heading-font: 'Momo TRust Display', sans-serif;
  --text-color: #ffffff;
}
body {
  font-family: var(--main-font);
  color: var(--text-color);
}

h1, h2, {
  font-family: var(--heading-font);
}
body {
  font-family: var(--main-font);
  color: var(--text-color);
}

h1, h2, {
  font-family: var(--heading-font);
}

nav {
    background-color: rgb(60, 92, 165);
    text-align: center;
}

nav li {
    display: inline;
}

nav a {
    padding: 30px;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav a:link,
nav a:visited {
    text-decoration: none;
}

nav a:hover,
nav a:active {
background-color: rgb(99, 99, 99);
color: rgb(60, 92, 165)
text-decoration: underline;
}

main {
    width: 80%;
    margin: 0% auto;

}

body {
  background-color: #9cc3d5; /* fallback color */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
h1,
h2,
h3, {
font-family: "Momo Trust Display", sans-serif;
}

h1 {
    font-size: 3rem;
    margin: 6% 0;
    text-align: center;
    text-shadow: 3px 5px 3px #ccc;
}
header {
    margin: 10%;
}

img {
    float: left;
    max-width: 25%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50%;
    box-shadow: 5px 5px 3px #e1e1e1;
    shape-outside: circle(50%);
}

header h2{
    margin-top: 5%;
    margin-left: 40%;
}

.rate {
    text-align: center;
    font-size: 1.2rem;
}

.why,
.where,
.how,
{
    width: 100%;
    float: left;
}

.why,
.how,
.where,
{
    margin-right: 16%;
    margin-left: 2%;
}

blockquote {
    clear: both;
    width: 300px;
    height: 280px;
    padding-top: 75px 16px 0 20px;
    border-radius: 50%;
    background-color: rgb(60, 92, 165)
    font-family: "Momo Trust Display", sans-serif;
    font-size: 1rem;
    margin: 40px auto;
}

blockquote small {
    text-align: right;
}

footer {
    background-color:rgb(60, 92, 165)
    color: white;
    padding: 2% 0;
    margin-top: 10px;
}

footer a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

footer ul {
    list-style: none;
}


footer p {
    clear: both;
}

/* media queries go below */

@media (max-width: 360px) {

    html {
        line-height: 135%;
    }

    nav a {
        padding: 5%;
        letter-spacing: normal;
        font-size: .9rem;
    }

    nav ul {
        padding-left: 5px;
    }

main {
    width: 90%;
}


h2 {
    font-size: 1.3rem;
}

Img {
    float: none;
    max-width: 50%;
    margin-left: 25%;
}

.rate {
    font-size: 1rem;
}

.why,
.where,
.how,
{
    width: 90%;
    float:  none;
}


